<div class="container-fluid">

	<div class="row">

		<div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

			<div class="card my-4">

				<h1 class="card-header">TASKS</h1>

				<div class="card-body">

					<form (submit)="addTask($event)">
						<input type="text" class="form-control" name="title" [(ngModel)]="title" placeholder="Agregar una tarea">
					</form>

				</div>

				<div class="card-body">

					<table class="table text-center">
						<thead>
							<tr>
								<th>Título</th>
								<th>Hecho</th>
								<th>Acciones</th>
							</tr>
						</thead>

						<tbody>
							<tr *ngFor="let task of tasks">
								<td>{{ task.title }}</td>
								<td><input type="checkbox" [checked]="task.isDone" (change)="updateTask(task)"></td>
								<td>
									<button class="btn btn-danger" (click)="deleteTask(task._id)"><i class="fas fa-trash-alt"></i></button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>

		</div>

	</div>
	
</div>